<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Articles</title>
</head>
<body>

<header>
  <form action="{{ url_for('.articles') }}" method="post" id="new-article">
    {{ form.csrf_token }}
    <label for="title">Article</label> {{ form.title(placeholder='title') }} {{ form.content(placeholder='content') }}
    <input type="submit" />
  </form>
</header>

<ul id="articles">
</ul>

<script type="text/javascript" src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
<script type="text/javascript">
  function update_articles(){
    $.ajax({
      url:"{{ url_for('.articles') }}",
      success: function(data, textStatus, xhr){
        $("#articles").html('');
        $(data['articles']).each(function(i, el){
          var link = "<a href='"+ el['url'] +"'>" + el['title'] + "</a>";
          $("#articles").append("<li>" + link + "</li>");
        });
      }
    });
  }

  // only execute after loading the whole HTML
  $(document).ready(function(){
    $('#new-article').submit(function(event){
      event.preventDefault();
      $.ajax({
        url: $(this).attr('action'),
        data: $(this).serialize(),
        method: "POST",
        success: function(data, textStatus, xhr){
          $(data['msgs']).each(function(i, el){
            update_articles();
            alert(el);
          });
        }
      });
    });

    update_articles();
  });
</script>

</body>
</html>