<html>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Hi there!</title></head>
  <link rel="stylesheet" href='/static/css/foundation.min.css' />
  <script src='/static/js/modernizr.js'></script>
  <body>
    <div class="row">
      <h1>Hello World!</h1>
    </div>
    <script src='/static/js/jquery.min.js'></script>
    <script src='/static/js/foundation.min.js'></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>